* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.header{
  padding : 20px 40px ;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo{
  width: 140px;
}

.btn {
  padding: 7px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.language{
  background: transparent;
  color: white;
  border: 1px solid white;
}
.sign-in{
  background: red;
  color: white;
  margin-left: 10px;
}
