* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.header{
  padding : 20px 40px ;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo{
  width: 140px;
}

.btn {
  padding: 7px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.language{
  background: transparent;
  color: white;
  border: 1px solid white;
}
.sign-in{
  background: red;
  color: white;
  margin-left: 10px;
}

/* Hero Section */

.hero{
  height: 90vh;
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(assets/images/netflix-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-content h1{
  font-size: 3rem;
  font-weight: bold;
}
.hero-content h2{
  margin: 20px 0;
}
.email-box{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.email-box input{
  padding: 15px;
  width: 300px;
  border: none;
  border-radius: 6px 0 0 6px;
}
.email-box button{
  padding: 15px 25px;
  background: red;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}


.trending{
  padding: 40px 0 40px 40px;

}
.section-title{
  font-size: 1.4rem;
  margin-bottom: 16px;
}
.movie-row{
  display: flex;
  gap: 14px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}
.movie-row::-webkit-scrollbar{
  display: none;
}

.movie-card{
  min-width: 180px;
  height: 390px;
  border-radius: 6px;
  overflow: hidden;
  background: #111;
  
}

.movie-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.movie-card:hover img{
  transform: scale(1.1);
}

.footer{
  padding: 40px;
  border-top: 8px solid #222;
  color: #999;
}
.footer-links{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 20px;
}
.footer-links a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
}

/* Responsive Design */

/*======= MOBILE DEVICES =======*/

@media (max-width: 600px) {
  .header{
    padding: 12px 16px;
  }
  .Logo{
    width: 100px;
  }
  .btn{
    padding: 6px 12px;
    font-size: 0.8rem;
  }
  hero {
    height: auto;
    padding: 120px 20px 60px;
  }

  .hero-content h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero-content h2 {
    font-size: 1rem;
  }

  .email-box {
    flex-direction: column;
    gap: 10px;
  }

  .email-box input {
    width: 100%;
  }

  .email-box button {
    width: 100%;
  }

  /* Trending Section */
  .trending {
    padding-left: 20px;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .movie-card {
    min-width: 120px;
    height: 240px;
  }

  .movie-card:hover img {
    transform: scale(1.05); /* prevent layout breaking */
  }

  /* Footer */
  .footer-links {
    grid-template-columns: 1fr;
  }
}